<html>
	<body>
		<form method="post" action="{% url 'enternewpasswordAction' %}">
		{% csrf_token %}
			<table>
				<input type="hidden" name="username" value="{{data}}"> 
				<tr>
				<td>NEW PASSWORD</td>
				<td><input type="password" name="newpassword"></td>
				</tr>

				<tr>
				<td>CONFIRM PASSWORD</td>
				<td><input type="password" name="confirmpassword"></td>
				</td>

				<tr>
				<td></td>
				<td><input type="submit" value="submit"></td>
				</tr>
			</table>
		</form>
	</body>
</html>