<html>
<script type="text/javascript">
	function validation()
	{
		var alpha=/^[a-zA-Z]+$/;
		var num=/^[0-9]+$/;

		var searchproduct=document.getElementById("searchproduct")
		
		if(searchproduct.value.length==0)
		{
			alert("enter product");
			return false;
		}
		else
		{
			return true;
		}
	}
</script>
	<body>
		<form method="post" action="{% url 'searchproductAction' %}">
		{% csrf_token %}
			<table>
				<tr>
				<td>SEARCH PRODUCT</td>
				<td><input type="text" id="searchproduct" name="searchproduct"></td>
				</tr>

				<tr>
				<td></td>
				<td><input type="submit" value="search" onclick="return validation()"></td>
				</tr>
			</table>
		</form>
	</body>
</html>