<html>
	<body>
		<table>
			<tr>
			<th>SELLER NAME</th>
			<th>FILE</th>
			<th>SHIPPING ADDRESS</th>
			<th>QUANTITY</th>
			<th>PHONE NUMBER</th>
			<th>TOTAL PRICE</th>
			<th>DATE</th>
			<th>TIME</th>
			<th>STATUS</th>
			<tr>
			{% for v in buyer %}
			<tr>
			<td>{{v.sellerid.name}}</td>
			<td><img src="{{v.productid.file.url}}" height="100px" width="50px" alt="no pic"></td>
			<td>{{v.shippindaddress}}</td>
			<td>{{v.quantity}}</td>
			<td>{{v.phonenumber}}</td>
			<td>{{v.totalprice}}</td>
			<td>{{v.date}}</td>
			<td>{{v.time}}</td>
			<td>{{v.status}}</td>
			{% if v.status == "pending" %}
			<td><a href="{% url 'cancel' v.id %}">cancel</a></td>
			{% endif %}
			{% if v.status == "approved" %}
			<td><a href="{% url 'viewtrackingdetails' v.id %}">tracking details</a></td>
			{% endif %}
			
			
			</tr>
			{% endfor %}
		</table>
	</body>
</html>