<html>
	<body>
		<table>
			<tr>
			<th>NAME</th>
			<th>ADDRESS</th>
			<th>GENDER</th>
			<th>PHONE</th>
			<th>DOB</th>
			<th>COUNTRY</th>
			<th>USERNAME</th>
			<th>PASSWORD</th>
			<th>FILE</th>
			<th>STATUS</th>
			</tr>
			{% for v in seller %}
			<tr>
			<td>{{v.name}}</td>
			<td>{{v.address}}</td>
			<td>{{v.gender}}</td>
			<td>{{v.phone}}</td>
			<td>{{v.dob}}</td>
			<td>{{v.country}}</td>
			<td>{{v.username}}</td>
			<td>{{v.password}}</td>
			<td><img src="{{v.file.url}}" height="100px" width="50px" alt="no pic"></td>
			<td>{{v.status}}</td>
			<td><a href="{% url 'approve' v.id %}">Approve</a></td>
			<td><a href="{% url 'reject' v.id %}">Reject</a></td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>